<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
  <img src="http://qr-official.line.me/L/09zoJOPg9B.png">
  <a href="https://line.me/R/ti/p/%40svu1494w"><img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
 <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  <!--
  <%= form_tag '/fileuploads', method: 'post', multipart: true do %>
  <label>ファイル</label>
	  <%= file_field :fileupload, :file,  class: 'js-csv-upload'%>
	  <%= submit_tag 'Send file' %>
<% end %>
-->